/**/

* {
    margin: 0;
    padding: 0;
}

#container * {
    border: 1px solid black;
}

#  {
 width: 960px;
margin: auto;
}

li a {
    text-decoration: none;
}

a {
    color: red;
}

ul {
    margin-left: 0;
}

ul+p {
    color: red;
}


div#container>ul {
    border: 1px solid black;
}


ul~p {
    color: red;
}

a[title] {
    color: green;
}

a[href="http://net.tutsplus.com"] {
    color: #1f6053;
}

a[href*="tuts"] {
    color: #1f6053;
    /* nettuts green */
}

a[href^="http"] {
    background: url(path/to/external/icon.png) no-repeat;
    padding-left: 10px;
}

p #id{
    color: red;
}

p .class{
    color: blue;
}

/*Вес селекторов*/